# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
env/

# ----------------------------
# Airflow
# ----------------------------
airflow/logs/
airflow/airflow.db

# ----------------------------
# VS Code
# ----------------------------
.vscode/*.code-workspace

# ----------------------------
# Environment Variables
# ----------------------------
.env
.env.local

# ----------------------------
# Jupyter
# ----------------------------
.ipynb_checkpoints/

# ----------------------------
# macOS
# ----------------------------
.DS_Store

# ----------------------------
# Windows
# ----------------------------
Thumbs.db
Desktop.ini

# ----------------------------
# Docker
# ----------------------------
*.pid

# ----------------------------
# Logs
# ----------------------------
logs/
*.log

# ----------------------------
# Testing
# ----------------------------
.coverage
.pytest_cache/

# ----------------------------
# Build
# ----------------------------
dist/
build/
