argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
certifi==2026.7.22
cffi==2.1.1
colorama==0.4.6
-e git+https://github.com/tpchiripa/CryptoForge.git@d8f8a8fabab4dee89d729c3d965dfcfeb49cb7d6#egg=cryptoforge
iniconfig==2.3.0
minio==7.2.20
numpy==2.5.2
packaging==26.3
pandas==3.0.5
pluggy==1.6.0
psycopg2-binary==2.9.12
pycparser==3.0
pycryptodome==3.23.0
Pygments==2.20.0
pytest==9.1.1
python-dateutil==2.9.0.post0
PyYAML==6.0.3
six==1.17.0
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.7.0
